# Compiled class files
*.class

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven / Gradle
target/
build/

# Eclipse
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Spring Boot
*.jar
*.war

# Node / frontend (if you have frontend folder)
node_modules/

# Temporary files
*.tmp
*.swp

# Environment variables
.env
